.dropstart .dropdown-toggle::before {
    display: none;
}

.dropstart .dropdown-toggle {
    background-color: blue;
}
 td.user-name {
     padding-bottom: 7px;
 }



tbody.user-data {
    vertical-align: middle;
}

.name-width {
    min-width: 258px;
}
.hidden-btn {
    display: none;
}
.table {
    border: solid;
    background-color: rgb(185 182 187 / 9%);
}
.title {
    background-color: white;
    text-align: center;
    margin-top: 55px;
    display: flex;
    justify-content: left;
   
}

.edit-name {
    position: relative;
    left: -4px;
    bottom: -1px;
    height: 38.28px;
    background: rgba(232, 229, 229, 0.711);
    border-radius: 5px;
}
.icon {
    width: 21px;
    position: relative;
    z-index: index 0;
}

.no-btn {
    width: 47px;
}

.sorting {
    height: 16px;
}

.sorting-btn {
    background: none;
    border: none;
    padding: 0;
}

tr.user-stroke {
    height: 60px;
}

.confirm-edit {
    height: 38px;
    position: relative;
    bottom: 1px;
}

.add-user {
    background-color: #FFF;
        display: flex;
            justify-content: end;
            
        }

